﻿body {
    min-height: initial;
    padding-top: 70px;
    background-image: url('../Images/khakaton3.png');
}

.form-control{
    border-color:#18ba60;
    border-width:3px;
    margin: 0px;
    
    margin-bottom: 10px;
}


@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }

    .text-about-right {
        font-size: 26.5px;
    }
        .navbar-default .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        .navbar-default .navbar-nav > .active > a {
            border-radius: 3px;
        }

        .navbar-default.navbar-shrink {
            background-color: #222;
            padding: 10px 0;
        }

            .navbar-default.navbar-shrink .navbar-brand {
                font-size: 1.5em;
            }
}
.navbar-default {
    background-color: #222;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #18ba60;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;

}

.container-index{
    background-color:#eee;
    padding-bottom:60px;
}

.navbar-default .nav li a {
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
            color: #18ba60;
        }

         .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #fff;
            background-color: #18ba60;
        }
           .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
            color: #18ba60;
            outline: 0;
        }

               .navbar-default .navbar-toggle {
        background-color: #18ba60;
        border-color: #18ba60;
    }
                 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #18ba60;
        }
.btn-primary {
    color: #fff;
    background-color: #18ba60;
    border-color: #18ba60;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px;
}

.null-padding-left {
    padding-left: 0px;
}

.btn-login-invert {
    background-color: #E8E9EC;
    outline: none;
    color: #18ba60;
    font-size: 14px;
    height: auto;
    margin-right: 15px;
    border-color: #18ba60;   
    font-weight: normal;
    padding: 14px;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: none;
}


    .btn-login-invert:hover,
    .btn-login-invert:focus {
        color: #E8E9EC;
        background-color: #18ba60;
        border-color: #18ba60;
    }

.btn-login, #btnback  {
  background-color: #18ba60;
  outline: none;
  color: #E8E9EC;
  font-size: 14px;
  height: auto;
  margin-right:15px;
  border-color:#18ba60;
  font-weight: normal;
  padding: 14px;
  text-transform: uppercase;
  border-radius: 0px;
  box-shadow: none;
}
.btn-login:hover,
.btn-login:focus {
  color: #18ba60;
  background-color: #E8E9EC;
  border-color:#18ba60;

}

.btn-primary:hover, .btn-primary:focus{
    color: #18ba60;
    background-color: #E8E9EC;
    border-color: #18ba60;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:active {
    color: #18ba60;
    background-color: #E8E9EC;
    border-color: #18ba60;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


li a {
    color: #18ba60;
    text-decoration: none;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    color: #000000;
    text-decoration: none;
}
    li a:hover {
        color: #555;
        text-decoration: none;
    }

.btn-min {
    background-color: #18ba60;
    outline: none;
    color: #E8E9EC;
    padding:5px;
    font-size: 14px;
    height: auto;
    border-color: #18ba60;
    font-weight: normal;
    border-radius: 0px;
    box-shadow: none;
}

.btn-min:hover,
.btn-min:focus {
    color: #18ba60;
    background-color: #E8E9EC;
    border-color: #18ba60;
}

.btn-min-invert {
    background-color: #E8E9EC;
    outline: none;
    color: #18ba60;
    font-size: 14px;
    height: auto;
    padding: 5px;
    border-color: #18ba60;
    font-weight: normal;
    border-radius: 0px;
    box-shadow: none;
}

    .btn-min-invert:hover,
    .btn-min-invert:focus {
        color: #E8E9EC;
        background-color: #18ba60;
        border-color: #E8E9EC;
    }


.btn-order  {
  background-color: #18ba60;
  outline: none;
  color: #E8E9EC;
  font-size: 14px;
  height: auto;
  border-color:#18ba60;

  font-weight: normal;
  text-transform: uppercase;
  border-radius: 0px;
  box-shadow: none;
}
    .btn-order:hover,
    .btn-order:focus {
        color: #18ba60;
        background-color: #E8E9EC;
        border-color: #18ba60;
    }

.btn-order-invert {
    background-color: #E8E9EC;
    outline: none;
    color: #18ba60;
    font-size: 14px;
    height: auto;
    border-color: #18ba60;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: none;
}

.btn-order-invert:hover,
.btn-order-invert:focus {
    color: #E8E9EC;
    background-color: #18ba60;
    border-color: #E8E9EC;
       
}

 #btnorder  {
  background-color: #18ba60;
  outline: none;
  color: #E8E9EC;
  font-size: 14px;
  height: auto;
  border-color:#18ba60;
  border: 1px;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 0px;
  box-shadow: none;
}
#btnorder:hover,
#btnorder:focus {
  color: #18ba60;
  background-color: #E8E9EC;
  border-color:#18ba60;
  border: 2px;
}

.result-items {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #ddd;
}

.result-list {
    margin-bottom: 20px;
}

.tab-content {
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.box-ot {
    background: url('../Images/routes/ico-filter-ot.png') no-repeat 100%;
    padding-right: 34px;
    font-size: 1.4em;
}

.box-v {
    background: url('../Images/routes/ico-filter-v.png') no-repeat 100% ;
    padding-right: 34px;
    font-size: 1.4em;
}

.box-order {
    margin-bottom: 4px;
    font-size: 1.4em;
}

.btn-box-order{
    margin-top:10px;
}


.box-price {
    background: url('../Images/routes/ico-price.png') no-repeat 100%;
    padding-right: 50px;
    font-size: 1.4em;
}

@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.h2-margin-null{
    margin-top:0px;
}

.driver-info {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.driver-photo{
    width: 150px;
    height: 190px;
}



