﻿@model IEnumerable<MarshrutkaBy.Models.TransportCompanies>

@{
    ViewBag.Title = "Компании";
}

<h2>Компании</h2>

<p>
    @Html.ActionLink("Добавить компанию", "Create", new { }, new { @class = "btn btn-order" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raiting)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raiting)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.IdTransportCompanies }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.IdTransportCompanies }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.IdTransportCompanies }, new { @class = "compItem", data_dialog_title = "Удаление" })
        </td>
    </tr>
}

</table>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}