﻿@model MarshrutkaBy.Models.TransportCompanies

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

@using (Html.BeginForm("Details", "Admin", FormMethod.Get))
{
    <div class="row" style="padding-bottom: 15px;">

        <div class="col-md-9">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="col-md-9 text-justify">
            @Html.DisplayFor(model => model.Description)
        </div>

    </div>
    <div class="row" style="padding-bottom: 15px;">

        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Email)
        </div>
        <br />
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.NumberPhone)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.NumberPhone)
        </div>
        <br />
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Raiting)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Raiting)
        </div>

    </div>

}
<div class="container-index">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#car" data-toggle="tab">Автопарк</a></li>
        <li><a href="#driver" data-toggle="tab">Водители</a></li>
        <li><a href="#routes" data-toggle="tab">Маршруты</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active table-bordered" id="car">
            @Html.Action("Cars", "Admin", new { id = ViewBag.IdTC })
        </div>
        <div class="tab-pane fade" id="driver">
            @Html.Action("Drivers", "Admin", new { id = ViewBag.IdTC })

        </div>
        <div class="tab-pane fade" id="routes">
            @Html.Action("Routes", "Admin", new { id = ViewBag.IdTC })
        </div>
    </div>
    <div>
        @Html.ActionLink("Назад", "Company", new { }, new { @class = "btn btn-login" })
    </div>
</div>
