﻿
@{
    ViewBag.Title = "Marshrutka.By";
}
<div class="row">
    <div class="col-md-7">
        <div class="col-md-12">
            <div class="form-group">
                <h2>Общая информация</h2>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-10">Количество зарегистрированных пользователей </label>
            @ViewBag.countUser
        </div>
        <div class="form-group">
            <label class="control-label col-md-10">Количество зарегистрированных компаний </label>
            @ViewBag.countTC
        </div>
        <div class="form-group">
            <label class="control-label col-md-10">Количество заказов </label>
            @ViewBag.countOrder
        </div>
        <div class="form-group">
            <label class="control-label col-md-10">Количество маршрутов </label>
            @ViewBag.countRoute
        </div>
        <div class="form-group">
            <label class="control-label col-md-10">Количество маршруток </label>
            @ViewBag.countCar
        </div>
    </div>
</div>

