﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marshrutka.by</title>


    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/navbar-fixed-top.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />*@
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    @*<link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />*@
 
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("User"))
                {
                    @Html.ActionLink("Marshrutka.by", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Marshrutka.by", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                }
                @if (User.IsInRole("Company"))
                {
                    @Html.ActionLink("Marshrutka.by", "Index", "Company", new { area = "" }, new { @class = "navbar-brand" })
                }
                @if (User.IsInRole("Driver"))
                {
                    @Html.ActionLink("Marshrutka.by", "Index", "Company", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("User"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Заказ билетов", "Index", "Home")</li>
                        <li>@Html.ActionLink("Личный кабинет", "PrivateOffice", "Account")</li>
                        <li>@Html.ActionLink("Информация", "Contact", "Home")</li>
                    </ul>
                }
                @if (User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Компании", "Company", "Admin")</li>
                    </ul>
                }
                @if (User.IsInRole("Company"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Маршруты", "Routes", "Company")</li>
                        <li>@Html.ActionLink("Водители", "Drivers", "Company")</li>
                        <li>@Html.ActionLink("Автопарк", "Cars", "Company")</li>
                    </ul>
                }
                @if (User.IsInRole("Driver"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная", "Index", "Driver")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container container-index">
        <div class="jumbotron">
            @RenderBody()

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Marshrutka.by</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>