﻿@model IEnumerable<MarshrutkaBy.Models.Orders>

@{
    ViewBag.Title = "Список пассажиров";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "result",
        Url = Url.Action("EditStatus", "Driver")
    };

}

<h2>Список пассажиров</h2>
@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.PhoneNumber)
            </td>
        
            <td>
                @Html.CheckBoxFor(modelItem => item.Status, new { id = item.IdOrder, @class = "toggle checkbox", data_url = Url.Action("EditStatus", "Driver") })
            </td>
        </tr>
    }

    </table>
}
else
{
    <h4>Список пуст</h4>
}

<div class="form-group">
    <div class="">
        @Html.ActionLink("Назад", "Index", "Driver", new { area = "" }, new { @class = "btn btn-login" })
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('.toggle').change(function () {
                var self = $(this);
                var url = self.data('url');
                var id = self.attr('id');
               

                $.ajax({
                    url: url,
                    data: { id: id },
                    type: 'POST',
                    success: function (response) {
                        alert(response);
                    }
                });
            });
        });
    </script>
}

@Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")