﻿@model MarshrutkaBy.Models.Drivers

@{
    ViewBag.Title = "Главная";
}


    <div class="driver-info row">
        <div class="col-md-2">
            <img class="driver-photo" src="~/Images/default_avatar.jpg" />
        </div>
            <div class="col-md-4">
                <h2 class="h2-margin-null">
                    @Html.DisplayFor(model => model.LastName)
                    @Html.DisplayFor(model => model.FirstName)
                </h2>
                <h4>
                    @Html.DisplayNameFor(model => model.License):
                    @Html.DisplayFor(model => model.License)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.NumberPhone):
                    @Html.DisplayFor(model => model.NumberPhone)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.Email):
                    @Html.DisplayFor(model => model.Email)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.Raiting):
                    @Html.DisplayFor(model => model.Raiting)
                </h4>
                <p>
                    @Html.ActionLink("Изменить", "Edit", new { id = Model.IdDriver }, new { @class = "btn btn-order" })
                </p>
            </div>

        </div>


    <div class="container-index">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#upcoming" data-toggle="tab">Предстоящие поездки</a></li>
            <li><a href="#commited" data-toggle="tab">Совершённые поездки</a></li>
        </ul>

        <div class="tab-content table-bordered">
            <div class="tab-pane fade in active" id="upcoming">
                @Html.Action("UpcomingTrips", "Driver")
            </div>
            <div class="tab-pane fade" id="commited">
                @Html.Action("CommitedTrips", "Driver")
            </div>
        </div>
    </div>