﻿@model IEnumerable<MarshrutkaBy.Models.DataRoute>

<h2>Предстоящие поездки</h2>

@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routes.StartingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routes.EndPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Times.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Times.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars.ModelCars)
            </th>
            <th></th>
        </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Routes.StartingPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Routes.EndPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Times.DepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Times.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Information)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cars.ModelCars)
                    </td>
                    <td>
                        @Html.ActionLink("Список пассажиров", "Details", new { id = item.IdDataRoute }, new { @class = "btn btn-order" }) 
                    </td>
                </tr>
            }

    </table>

}
else {
    <h4>Список пуст</h4>
}