﻿@model IEnumerable<MarshrutkaBy.Models.Orders>

@{
    ViewBag.Title = "Confirmation";
}

<h2>Подтверждение заказа</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataRoute.Routes.StartingPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoute.Routes.EndPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoute.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoute.Times.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoute.Times.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRoute.TransportCompanies.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
      
        <th></th>
    </tr>
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoute.Routes.StartingPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoute.Routes.EndPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoute.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoute.Times.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoute.Times.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRoute.TransportCompanies.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.IdRegistration }, new {@class = "btn btn-order" })
        </td>
    </tr>
}

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@using (Html.BeginForm("Confirmation", "Home"))
{
@Html.ActionLink("Отменить", "Delete", "Home", new { id = ViewBag.idreg }, new { @class = "btn btn-login compItem" })
@Html.ActionLink("Подтвердить", "Index", new { id = "btnback" }, new { @class = "btn btn-login" })
}

@section Scripts {
    <script type="text/javascript">
     $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}