﻿@model MarshrutkaBy.Models.Orders

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Отмена заказа</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            <div>
                Вы уверенны что хотите отменить заказ №
                @Html.DisplayFor(model => model.IdOrder)
            </div>

           
            @Html.ActionLink("Нет", "Confirmation", new { id = ViewBag.idregdel }, new { @class = "compItem btn btn-primary" })
            @Html.ActionLink("Да", "Del", new { id = ViewBag.idregdel }, new { @class = "close btn btn-primary" })

        }
    </div>

</div>