﻿@model MarshrutkaBy.Models.Orders

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактировать заказ</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Routes.StartingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Routes.EndPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Times.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Times.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.TransportCompanies.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Price)
            </th>
            <th></th>
        </tr>

        @foreach (MarshrutkaBy.Models.Orders item in ViewBag.order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.Routes.StartingPoint)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.Routes.EndPoint)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.Times.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.Times.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.TransportCompanies.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataRoute.Price)
                </td>

            </tr>
        }
    </table>



    @using (Html.BeginForm("Edit", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdRegistration)
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-7">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Registration.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Registration.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Registration.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registration.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Registration.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Registration.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Registration.MiddleName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Registration.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Registration.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Сохранить" class="btn btn-login" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
