﻿@using MarshrutkaBy.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="PEZ">

    <title>Marshrutka.by</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"> 
    <!-- Custom CSS -->
    <link href="~/Content/home.css" rel="stylesheet">
    <link href="~/Content/CustomFonts.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Marshrutka.by</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">О нас</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#routes">Маршруты</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#order">Заказ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reviews">Отзывы</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Обратная связь</a>
                    </li>

                    <li>
                        @Html.ActionLink("Войти", "Login", "Account")

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->


    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="intro-heading">Marshrutka.by — собирайся, выезжай!</div>
                    </div>


                    @Html.ActionLink("Регистрация", "Register", "Account", new { area = "" }, new { @class = "btn btn-xl" })

                </div>

            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Кто мы?</h2>
                    <h3 class="section-subheading text-muted">Marshrutka.by — собирайся, выезжай!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h4 class="service-heading">Маршрутка.by - сервис для бронирования маршрутных такси.</h4>
                </div>
                <div class="col-md-5 ">
                    <p class="text-muted text-about-right">С нашей помощью Вы можете выбрать маршрут и время поездки, посмотреть стоимость, наличие сводобных мест и всего в пару кликов оформить бронь. Управление поездками осуществляется в личном кабинете.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="routes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Маршруты</h2>
                    <h3 class="section-subheading text-muted">Marshrutka.by — собирайся, выезжай!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="~/Images/belarus-map2.png" class="img-responsive" alt="">
                </div>

                <div class="col-md-4 ">
                    <div class="mapslogo">
                        Вы можете спланировать
                        свой маршрут
                        как по Беларуси, так и за рубеж.
                    </div>
                    <br />
                    @Html.ActionLink("Найти маршрут", "Index", "Home", new { area = "" }, new { @class = "btn btn-xl col-md-12" })
                </div>
              
                </div>

        </div>

    </section>

    <!-- About Section -->
    <section id="order">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Заказ</h2>
                    <h3 class="section-subheading text-muted">Marshrutka.by — собирайся, выезжай!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/Images/order/bigstock-Register-Key-Concept-50825219.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Регистрация</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Перейдите на странцу регистрации, заполните форму и нажмите зарегистрироваться</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/Images/order/Route.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Выбор маршрута</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Войдите в личный кабинет. Введите маршрут выберите дату и время отправления, нажмите найти</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/Images/order/ticket.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Покупка или бронирование билета</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Выберите понравившегося вам перевозчика, заполните форму и забронируйте билет</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/Images/order/check.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Подтверждение заказа</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Войдите в свой почтовый ящик и проверьте пришло ли вам письмо с подтверждением успешного бронирования</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    Готово
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section id="reviews" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Отзывы</h2>
                    <h3 class="section-subheading text-muted">Marshrutka.by — собирайся, выезжай!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Images/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Анна Смирнова</h4>
                        <p class="text-muted">Очень классный сервис, забронировать билет можно моментально. Спасибо вам.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Images/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Кирил Иванов</h4>
                        <p class="text-muted">Быстро, удобно. Действительно выручает когда нужно быстро забронировать место.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Images/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Евгения Нефёдова</h4>
                        <p class="text-muted">Самый лучший сервис бронирования билетов!!! Спасибо Вам, что Вы есть!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Images/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Images/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Images/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Images/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Обратная связь</h2>
                    <h3 class="section-subheading text-muted">Marshrutka.by — собирайся, выезжай!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="ФИО *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Телефон *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Сообщение *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Marshrutka.by 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>-->
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/home.js"></script>

</body>

</html>
