﻿@model MarshrutkaBy.Models.DataRoute

@{
    ViewBag.Title = "Marshrutka.by";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "result"
    };
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<div class="jumbotron">
    <div class="container-index">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#route" data-toggle="tab">Маршрут</a></li>
            <li class="disabled"><a href="#company" data-toggle="tab">Выбор перевозчика</a></li>
            <li class="disabled"><a href="#data" data-toggle="tab">Данные пасажиров</a></li>
            <li class="disabled"><a href="#confirmation" data-toggle="tab">Подтверждение заказа</a></li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content table-bordered">
            <div class="tab-pane fade in active " id="route">
                @using (Html.BeginForm("SearchRoutes", "Home"))
                {
                    <div class="row" style="padding-bottom: 15px;">

                        <div class="col-md-7">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h2>Выбор маршрута</h2>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Routes.StartingPoint, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.Routes.StartingPoint, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.Routes.EndPoint, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(x => x.Routes.EndPoint, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.Date, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div class='input-group date'>
                                        @Html.TextBoxFor(model => model.Date, new { @class = "form-control datepicker datetimepicker" })
                                        @Html.ValidationMessageFor(model => model.Date)
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Найти" class="btn btn-login col-md-12" />
                            </div>
                        </div>

                    </div>
                }
            </div>

            <div class="tab-pane fade" id="company">

            </div>
            <div class="tab-pane fade" id="data">

            </div>
            <div class="tab-pane fade" id="confirmation">...</div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
  
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
            $.datepicker.regional['ru'] = {
                prevText: 'Пред',
                nextText: 'След',
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
                dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                weekHeader: 'Не',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                minDate: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['ru']);
        });


$(function() {
    $('#myTab a:first').tab('show')
});



    </script>
}