﻿@model MarshrutkaBy.Models.RegistrationAndRoutes
@{
    ViewBag.Title = "Home Page";

}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/themes/base/datepicker.css")" rel="stylesheet" />
<div class="jumbotron">
    <div class="container-index">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#route" data-toggle="tab">Маршрут</a></li>
            <li><a href="#company" data-toggle="tab">Выбор перевозчика</a></li>
            <li><a href="#data" data-toggle="tab">Данные пасажиров</a></li>
            <li class="disabled"><a href="#confirmation" data-toggle="tab">Подтверждение заказа</a></li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content">
            <div class="tab-pane fade" id="route">
            </div>

            <div class="tab-pane fade in active" id="company">
            </div>
            <div class="tab-pane fade" id="data">
                <div id="result" class="row result">

                    <div class=" result-list">
                        
                           @foreach (MarshrutkaBy.Models.DataRoute item in ViewBag.routes)
                           {
                                <div class="row result-items">
                                    <div class="col-md-3 ">
                                        <span class="box-ot">
                                            @Html.DisplayFor(model => item.Routes.StartingPoint)
                                        </span>
                                        <h6>
                                            @Html.DisplayFor(model => item.Times.DepartureTime)
                                        </h6>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="box-v">
                                            @Html.DisplayFor(model => item.Routes.EndPoint)
                                        </span>
                                        <h6>
                                            @Html.DisplayFor(model => item.Times.ArrivalTime)
                                        </h6>
                                    </div>

                                    <div class="col-md-4">
                                        <span class="box-order">
                                            @Html.DisplayFor(model => item.TransportCompanies.Name)
                                        </span>
                                        <h6>
                                            @Html.DisplayFor(model => item.Date)
                                        </h6>
                                    </div>

                                    <div class="col-md-2">
                                        <span class="box-price">
                                            @Html.DisplayFor(model => item.Price) BYN
                                        </span>
                                        <div>
                                            @Html.ActionLink("Остановочные пункты", "WayPoints", new { id = item.IdRoute }, new { @class = "compItem", data_dialog_title = "Остановки" })
                                        </div>
                                    </div>
                                </div>


                            }
                        
                    </div>

                </div>


                @using (Html.BeginForm("Order", "Home"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h2>Информация о пассажире</h2>
                                    </div>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Registration.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Registration.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registration.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Registration.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Registration.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registration.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Registration.MiddleName, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Registration.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registration.MiddleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Registration.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Registration.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registration.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-10">
                                        @Html.ActionLink("Назад", "Search", "Home", htmlAttributes: new {@class = "btn btn-login" })
                                        <input type="submit" value="Продолжить" class="btn btn-login" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="tab-pane fade" id="confirmation">...</div>
        </div>

    </div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">

$(function() {
    $('#myTab a[href="#data"]').tab('show')

});

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
