﻿@model IEnumerable<MarshrutkaBy.Models.DataRoute>
@{
    ViewBag.Title = "Главная";

}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/themes/base/datepicker.css")" rel="stylesheet" />
<div class="jumbotron">
    <div class="container-index">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#route" data-toggle="tab">Маршрут</a></li>
            <li><a href="#company" data-toggle="tab">Выбор перевозчика</a></li>
            <li class="disabled"><a href="#data" data-toggle="tab">Данные пасажиров</a></li>
            <li class="disabled"><a href="#confirmation" data-toggle="tab">Подтверждение заказа</a></li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content">
            <div class="tab-pane fade" id="route">
            </div>

            <div class="tab-pane fade in active" id="company">
                <div id="result" class="row result">
                  
                    <div class=" result-list">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="row result-items">
                                    <div class="col-md-3 ">
                                        <span class="box-ot">
                                            @Html.DisplayFor(modelItem => item.Routes.StartingPoint)
                                        </span>
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.Times.DepartureTime)
                                        </h6>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="box-v">
                                            @Html.DisplayFor(modelItem => item.Routes.EndPoint)
                                        </span>
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.Times.ArrivalTime)
                                        </h6>
                                    </div>

                                    <div class="col-md-4">
                                        <span class="box-order">
                                            @Html.DisplayFor(modelItem => item.TransportCompanies.Name)
                                        </span>
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </h6>
                                        <div>
                                            @Html.ActionLink("Остановочные пункты", "WayPoints", new { id = item.IdRoute }, new { @class = "compItem", data_dialog_title = "Остановки" })
                                        </div>
                                    </div>

                                    <div class="col-md-2">  
                                        <span class="box-price">
                                            @Html.DisplayFor(modelItem => item.Price) BYN
                                        </span>
                                        <div class="btn-box-order">
                                            @Html.ActionLink("Забронировать", "Order", new { id = item.IdDataRoute }, new { @class = "btn btn-order" })
                                        </div>
                                 
                                    </div>
                                </div>


                            }
                        }
                        else
                        {
                            <h2>Маршруты не найдены</h2>
                        }
                        </div>

                        @Html.ActionLink("Назад", "Index", new { }, new { @class="btn btn-login"})
                   
                    
                </div>
            </div>
            <div class="tab-pane fade" id="data">
                
            </div>
            <div class="tab-pane fade" id="confirmation">...</div>
        </div>

    </div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.ru.js")
    <script type="text/javascript">
   
$(function() {
    $('#myTab a[href="#company"]').tab('show')
   
});

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>

}