﻿@model IEnumerable<MarshrutkaBy.Models.WayPoints>


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Остановки</h2>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameWayPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WayPointsTime.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WayPointsTime.ArrivalTime)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameWayPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WayPointsTime.DepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WayPointsTime.ArrivalTime)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>