﻿@model IEnumerable<MarshrutkaBy.Models.Cars>

@{
    ViewBag.Title = "Автопарк";
}

<h2>Автопарк</h2>

<p>
    @Html.ActionLink("Добавить маршрутку", "CreateCar", new { }, new { @class = "btn btn-order" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelCars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </th>

        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelCars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Services)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeats)
        </td>

        <td>
            @Html.ActionLink("Изменить", "EditCar", new { id = item.IdCar }, new { @class = "btn btn-order" }) |
            @Html.ActionLink("Удалить", "DeleteCar", new { id = item.IdCar }, new { @class = "btn btn-order-invert compItem", data_dialog_title = "Удаление" })
        </td>
    </tr>
    }
}

</table>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}