﻿@model IEnumerable<MarshrutkaBy.Models.Routes>

<h2>Направления</h2>

<p>
    @Html.ActionLink("Добавить направление", "CreateCourse", new { }, new { @class = "btn btn-order" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartingPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changes)
        </th>
        <th> </th>
    </tr>

    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Changes)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "EditCourse", new { id = item.IdRoute }, new { @class = "btn btn-order" }) |
                    @Html.ActionLink("Удалить", "DeleteCourse", new { id = item.IdRoute }, new { @class = "btn btn-order-invert compItem", data_dialog_title = "Удаление" })
                </td>
            </tr>
        }

    }

</table>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
