﻿@model MarshrutkaBy.Models.WayPoints

@{
    ViewBag.Title = "Добавить остановку";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "results",
        Url = Url.Action("WayPoints", "Company"),
        
    };
}


    @Html.Action("WayPoints", "Company", new { @id = @ViewBag.idRoute })





<h2>Добавить остановку</h2>



@using (Ajax.BeginForm(ajaxOptions))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
        
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.NameWayPoint, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NameWayPoint, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NameWayPoint, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.WayPointsTime.DepartureTime, htmlAttributes: new { @class = "control-label col-md-7" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.WayPointsTime.DepartureTime, new { htmlAttributes = new { @class = "form-control timepicker1 datetimepicker" } })
                        @Html.ValidationMessageFor(model => model.WayPointsTime.DepartureTime, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.WayPointsTime.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.WayPointsTime.ArrivalTime, new { htmlAttributes = new { @class = "form-control timepicker2 datetimepicker" } })
                        @Html.ValidationMessageFor(model => model.WayPointsTime.ArrivalTime, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-9">
                            <input type="submit" value="Добавить остановку" class="btn btn-min" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
}


