﻿@model MarshrutkaBy.Models.Drivers

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Вы уверенны что хотите удалить водителя?</h4>
    </div>
    <div class="modal-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="col-md-4 null-padding-left">
                        @Html.ActionLink("Назад", "Drivers", new { }, new { @class = "btn btn-login-invert null-padding-left" })
                    </div>
                    <div class="col-md-offset-10">
                        @Html.ActionLink("Удалить", "DelDriver", new { @id = Model.IdDriver }, new { @class = "btn btn-login" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

