﻿@model MarshrutkaBy.Models.DataRoute

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Вы уверенны что хотите удалить маршрут?</h4>
    </div>
    <div class="modal-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Routes.StartingPoint)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Routes.StartingPoint)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Routes.EndPoint)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Routes.EndPoint)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Times.DepartureTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Times.DepartureTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Times.ArrivalTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Times.ArrivalTime)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="col-md-4 null-padding-left">
                        @Html.ActionLink("Назад", "Routes", new { }, new { @class = "btn btn-login-invert null-padding-left" })
                    </div>
                    <div class="col-md-offset-10">
                        @Html.ActionLink("Удалить", "DelRoute", new { @id = Model.IdDataRoute }, new { @class = "btn btn-login" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>