﻿@model MarshrutkaBy.Models.Cars

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Вы уверенны что хотите удалить маршрутку?</h4>
    </div>
    <div class="modal-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NumberPlate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumberPlate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModelCars)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModelCars)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="col-md-4 null-padding-left">
                        @Html.ActionLink("Назад", "Cars", new { }, new { @class = "btn btn-login-invert null-padding-left" })
                    </div>
                    <div class="col-md-offset-10">
                        @Html.ActionLink("Удалить", "DelCar", new { @id = Model.IdCar }, new { @class = "btn btn-login" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
