﻿@model MarshrutkaBy.Models.DataRoute

@{
    ViewBag.Title = "Добавить остановку";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "result",
        Url = Url.Action("CreateWayPoints", "Company")
    };
}

<div class="row">
    <div class="col-md-12">
        <h2>Информация о маршруте</h2>

        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Information)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Information)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Routes.StartingPoint)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Routes.StartingPoint)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Routes.EndPoint)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Routes.EndPoint)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Times.DepartureTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Times.DepartureTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Times.ArrivalTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Times.ArrivalTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TransportCompanies.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TransportCompanies.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Cars.ModelCars)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cars.ModelCars)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cars.NumberPlate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cars.NumberPlate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Drivers.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Drivers.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Drivers.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Drivers.LastName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-12">
       @Html.Action("CreateWayPoints", "Company", new { @id = @Model.IdRoute })
    </div>
   

       


        <div class="col-md-4 null-padding-left">
            @Html.ActionLink("Сохранить", "Routes", new { }, new { @class = "btn btn-login" })
        </div>

    </div>


@section Scripts {
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
@Scripts.Render("~/Scripts/moment-with-locales.min.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")

<script type="text/javascript">
    $(function () {
        $('.timepicker1').datetimepicker({
            format: 'HH:mm'
        });
        $('.timepicker2').datetimepicker({
            format: 'HH:mm'
        });
    });

            $(function () {
                $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
</script>
}