﻿@model IEnumerable<MarshrutkaBy.Models.Orders>

@{
    ViewBag.Title = "Список пассажиров";
}

<h2>Список пассажиров</h2>
@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration.PhoneNumber)
                </td>

                <td>
                    @Html.CheckBoxFor(modelItem => item.Status, new { id = item.IdOrder, @class = "checkbox", @disabled="disable"})
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>Список пуст</h4>
}

<div class="form-group">
    <div class="">
        @Html.ActionLink("Назад", "Routes", "Company", new { area = "" }, new { @class = "btn btn-login" })
    </div>
</div>

