﻿@model IEnumerable<MarshrutkaBy.Models.Drivers>

@{
    ViewBag.Title = "Водители";
}

<h2>Водители</h2>

<p>
    @Html.ActionLink("Добавить водителя", "CreateDriverAccount", new { }, new { @class = "btn btn-order" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.License)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raiting)
        </th>

        <th></th>
    </tr>

@if(Model != null)
{
    foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.License)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raiting)
        </td>

        <td>
            @Html.ActionLink("Изменить", "EditDriver", new { id=item.IdDriver},new { @class = "btn btn-order" }) |
            @Html.ActionLink("Удалить", "DeleteDriver", new { id=item.IdDriver }, new { @class = "btn btn-order-invert compItem", data_dialog_title = "Удаление" })
        </td>
    </tr>
    }

}
</table>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}