﻿@model MarshrutkaBy.Models.DataRoute

@{
    ViewBag.Title = "Изменить маршрут";
}

<h2>Изменить маршрут</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdDataRoute)
        <div class="row" style="padding-bottom: 15px;">
            <div class="col-md-7">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">Направление</label>
                        <div class="col-md-9">
                            @Html.DropDownList("Course", ViewData["Course"] as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Times.DepartureTime, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Times.DepartureTime, new { htmlAttributes = new { @class = "form-control timepicker1 datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.Times.DepartureTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Times.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Times.ArrivalTime, new { htmlAttributes = new { @class = "form-control timepicker2 datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.Times.ArrivalTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Водитель</label>
                        <div class="col-md-9">
                            @Html.DropDownList("Driver", ViewData["Driver"] as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Маршрутка</label>
                        <div class="col-md-9">
                            @Html.DropDownList("Car", ViewData["Car"] as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Information, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Information, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Information, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            @Html.ActionLink("Назад", "Routes", new { }, new { @class = "btn btn-login-invert col-md-4" })
                            <input type="submit" value="Сохранить" class="btn btn-login col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")

    <script type="text/javascript">
        $(function () {
            $('.timepicker1').datetimepicker({
                format: 'HH:mm'
            });
            $('.timepicker2').datetimepicker({
                format: 'HH:mm'
            });
            $('.datetimepicker').datetimepicker({
                locale: 'ru',
                format: 'DD/MM/YY'
            });
        });
    </script>
}