﻿@model MarshrutkaBy.Models.TransportCompanies

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}


@using (Html.BeginForm("Index", "Company", FormMethod.Get))
{
    <div class="row" style="padding-bottom: 15px;">

        <div class="col-md-9">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="col-md-9 text-justify">
            @Html.DisplayFor(model => model.Description)
        </div>

    </div>
    <div class="row" style="padding-bottom: 15px;">

        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Email)
        </div>
        <br />
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.NumberPhone)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.NumberPhone)
        </div>
        <br />
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.Raiting)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Raiting)
        </div>

    </div>

}

