﻿@model IEnumerable<MarshrutkaBy.Models.Orders>


@if (Model != null)
{
    <h2>Неподтверждённые заказы</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Routes.StartingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Routes.EndPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRoute.Times.DepartureTime)
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRoute.Routes.StartingPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRoute.Routes.EndPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRoute.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRoute.Times.DepartureTime)
            </td>
            <td>
                @Html.ActionLink("Подтвердить", "Verificated", new { id = item.IdOrder }, new { @class = "btn btn-order" }) |
                @Html.ActionLink("Отменить", "NonVerificated", new { id = item.IdOrder }, new { @class = "btn btn-order-invert" })
            </td>
        </tr>
    }

    </table>
}
else
{
    <h2>Неподтверждённые заказы отсуствуют</h2>
}