﻿@model IEnumerable<MarshrutkaBy.Models.DataRoute>

@{
    ViewBag.Title = "Маршруты";
}

    <h2>Маршруты</h2>

    <p>
        @Html.ActionLink("Добавить маршрут", "CreateRoute", new { }, new { @class = "btn btn-order" })
    </p>
    <br />

    <div class="container-index">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#confirmation" data-toggle="tab">Подтверждение бронирования</a></li>
            <li><a href="#upcoming" data-toggle="tab">Предстоящие поездки</a></li>
            <li><a href="#commited" data-toggle="tab">Совершённые поездки</a></li>
            <li><a href="#course" data-toggle="tab">Направления</a></li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content table-bordered">
            <div class="tab-pane fade in active" id="confirmation">
                @Html.Action("NonVerificatedOrder", "Company")
            </div>

            <div class="tab-pane fade" id="upcoming">

                <h2>Предстоящие поездки</h2>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Routes.StartingPoint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Routes.EndPoint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Times.DepartureTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Information)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Drivers.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cars.ModelCars)
                        </th>
                        <th></th>
                    </tr>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Routes.StartingPoint)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Routes.EndPoint)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Times.DepartureTime)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Information)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Drivers.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cars.ModelCars)
                                </td>
                                <td>
                                    @Html.ActionLink("Изменить", "EditRoute", new { id = item.IdDataRoute }, new { @class = "btn btn-min" }) <br/>
                                    @Html.ActionLink("Список пассажиров", "Details", new { id = item.IdDataRoute }, new { @class = "btn btn-min-invert" }) <br />
                                    @Html.ActionLink("Удалить", "DeleteRoute", new { id = item.IdDataRoute }, new { @class = "btn btn-min compItem1", data_dialog_title = "Удаление" })
                                </td>
                            </tr>
                        }

                    }
                </table>
            </div>
            <div class="tab-pane fade" id="commited">
                @Html.Action("CommitedRoute", "Company")
            </div>
            <div class="tab-pane fade" id="course">
                @Html.Action("Course", "Company", new { id = ViewBag.IdTC })
            </div>
        </div>

    </div>

<div id="modDialog1" class="modal fade">
    <div id="dialogContent1" class="modal-dialog"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".compItem1").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent1').html(data);
                    $('#modDialog1').modal('show');
                });
            });
        })
    </script>
}


