﻿@model IEnumerable<MarshrutkaBy.Models.WayPoints>



<div id="results">

    <h2>Остановки</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameWayPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WayPointsTime.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WayPointsTime.ArrivalTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameWayPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WayPointsTime.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WayPointsTime.ArrivalTime)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdWayPoints })
                </td>
            </tr>
        }

    </table>
</div>