﻿@model IEnumerable<MarshrutkaBy.Models.Orders>
@{
    ViewBag.Title = "Личный кабинет";
}
<link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />
<div class="container-index">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#upcoming" data-toggle="tab">Предстоящие поездки</a></li>
        <li><a href="#complete" data-toggle="tab">Совершённые поездки</a></li>

    </ul>
    <!-- Tab panes -->
@using (Html.BeginForm("PrivateOffice", "Account"))
{
    <div class="tab-content">
        <div class="tab-pane fade in active" id="upcoming">
           @if (Model != null)
           {
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataRoute.Routes.StartingPoint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataRoute.Routes.EndPoint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataRoute.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataRoute.Times.DepartureTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataRoute.Times.ArrivalTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataRoute.TransportCompanies.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Verification)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataRoute.Routes.StartingPoint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataRoute.Routes.EndPoint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataRoute.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataRoute.Times.DepartureTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataRoute.Times.ArrivalTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataRoute.TransportCompanies.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Verification,  new { @class = "verification" })
                            </td>
                            <td>
                                                      
                                @Html.ActionLink("Отменить", "_Remove", new { id = item.IdOrder }, new { @class = "compItem btn btn-primary", data_dialog_title = "Отмена" })
                              
                            </td>
                            
                        </tr>
                    }

                </table>
           }
           else
           {
               <div class="row">
                   <h2>Нет предстоящих поездок</h2>
               </div>
              
           }

        </div>

        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <div class="tab-pane fade " id="complete">
            @if (ViewBag.complete!=null)
            {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoute.Routes.StartingPoint)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoute.Routes.EndPoint)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoute.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoute.Times.DepartureTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoute.Times.ArrivalTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoute.Routes.TransportCompanies.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registration.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registration.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registration.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTime)
                    </th>

                    <th></th>
                </tr>

                @foreach (MarshrutkaBy.Models.Orders item in ViewBag.complete)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRoute.Routes.StartingPoint)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRoute.Routes.EndPoint)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRoute.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRoute.Times.DepartureTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRoute.Times.ArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRoute.Routes.TransportCompanies.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTime)
                        </td>
                    </tr>
                }

            </table>
            }
            else
            {
                <div class="row">
                    <h2>Нет совершённых поездок</h2>
                </div>
                
            }
        </div>

    </div>
}
</div>

@section Scripts {
<script type="text/javascript">
     $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
</script>
}

